body{
background-image:url("background.jpg");
background-size:cover;
background-position:center;
background-attachment:fixed;

color:white;
font-family:Arial;
text-align:center;
}

body::before{
content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
z-index:-1;
}

.boss{
background:rgba(0,0,0,0.7);
backdrop-filter:blur(4px);
padding:20px;
border-radius:10px;
}
